.blog_page {
    margin-top: 100px;
   
    padding:  0px 30px;
}

.blog_post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    max-width: 430px;
    width: 100%;
    text-align: left;
}

.image_container {
    position: relative;
    width: 100%;
}

.blog_image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog_tag {
    position: absolute;
    top: -3px;
    left: -3px;
    background-color: #0088FF;
    color: #fff;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 0.8rem;
   
}

.blog_head {
    padding:0px 20px;
    margin-top: 10px;
}

.blog_description {
    text-align: left;
    padding:0px 20px;
    font-size: 1.05rem;
    margin-top: 10px;
    font-weight: 100;
    line-height: 1.3;
    color: #333;
}
.blog_head2{
    font-size: 36px;
   
}
.blog_link{
  color: #020202;
  text-decoration: none;
}
.blog_link:hover {
   color: #e41f3a;
  }

.blog_p{
    font-size: 1.2rem;
    padding: 0px 17%;
    font-weight: 500;
    
}
.blog_content{
    margin:40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 420px) {
    .blog_content {
        grid-template-columns: 1fr;
    }

    .blog_post {
        margin: 20px 0;
    }
}

