.home {
    margin-top: 96px;
    padding: 90px 0px 70px;
    background-color: #1F2163;
    display: flex;
    justify-content: space-around;

    p {
        font-size: 18px;
    }
}

.banner_div {
    height: 670px;
    width: 513px;
    color: #E9e9e9;
    padding: 0 0 0 48px;

    h1 {
        font-size: 36px;
        color: #FFFFFF;
    }

    font-size: 21px;

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .check {
        color: #CC3366;
        padding: 5px;
        font-size: 25px;
    }

    .check:hover {
        color: #1AB69D;
    }

    a {
        background-color: #1AB69D;
        padding: 18px;
        text-decoration: none;
        color: #FFFFFF;
        border-radius: 5px;
    }

    a:hover {
        background-color: #CC3366;
    }
}

.rating_container {
    padding: 50px 0px;
}

.rated_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.certification_program {
    margin-top: 80px;
    padding: 50px;

    h1 {
        font-size: 36px;

    }

    .custom-icon {
        color: rgb(255, 217, 0);
        font-size: 40px;
        padding: 10px;
    }


}

.change_color {
    color: #1AB69D
}

.course_details_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
}

.company_tie_up {
    padding: 50px 0px;

    h2 {
        padding-bottom: 20px;
        font-size: 36px;
    }

    .company_tie_up_in {
        padding: 10px 150px 30px 150px;

    }

    img {
        width: 112px;
        height: 36px;
        margin: 10px;
        padding: 10px;
        width: 166px;
        height: 65px;
        border: 2px solid black;
        border-radius: 5px;
    }

    .company_logo_container {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
        /* gap: 20px; */
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

}

.hidden {
    display: none;
}

.Why_to_enroll {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebebeb;
    transition: all 0.5s ease;

    .why_to_enroll_heading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 540px;
        height: 624px;
        padding: 10px;
    }

    .why_to_entroll_details {
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px white;
        width: 604px;
        margin: 10px;
        padding: 10px 15px;

        cursor: pointer;

        .hidden {
            display: none;
            transition: all 0.5s ease;
        }

        .heading-clicked {
            color: #1AB69D;
        }

        .buttonclick {
            cursor: pointer;
        }

        h3 {
            font-weight: 100;
            padding: 15px;
        }

        p {
            padding: 15px;
            font-size: 16px;
        }

        a {
            color: #CC3366;
            font-weight: 800;
            text-decoration: none;
        }

    }
}

.testimonials {
    padding: 64px 0px;
    background-color: #0F1D42;

    h1 {
        font-size: 34px;
        color: #FFFFFF;
    }

    .change_color {
        color: #1AB69D;
        padding: none;
    }
}

.top-notch-team {
    padding: 55px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .notch-team-heading {
        font-size: 36px;
        line-height: 1.5;
        color: #181818;
    }

    .check {
        color: #CC3366;
        padding: 5px;
        font-size: 25px;
    }

    .check:hover {
        color: #1AB69D;
    }

    ul {
        list-style-type: none;
    }

    li {
        margin-bottom: 15px;
        font-size: 18px;
    }
}

.div_container_notch_team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_container_notch_team_section2 {
    img {
        height: 300px;
        width: 200px;
        border: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;
}

.Our_training_center {
    background-color: #ebebeb;
    padding: 80px 100px;

    .center_details {
        background-color: white;
        width: 400px;
        height: 250px;
        border-radius: 5px;
        border: 2px solid black;
        padding: 10px;
        margin: 10px;

        a {
            text-decoration: none;
            color: #CC3366;
            font-weight: 800;
        }
    }

    .phone {
        color: #CC3366;
        padding: 10px;
    }

    h3 {
        padding: 10px;
    }

    p {
        padding: 10px;
        line-height: 1.5;
    }

    .div_container_training_center {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

.our_collaborations {
    padding: 100px 110px;
}

.still_douts {
    color: white;
    background-color: rgb(2, 45, 33);
    width: 1000px;
    height: 250px;
    padding: 50px;

    p {
        line-height: 1.5;
        font-size: 18px;
    }

    button {
        height: 30px;
        width: 100px;
        cursor: pointer;
        border: 2px solid white;
        border-radius: 5px;

        &:hover {
            background-color: #CC3366;
            color: white;
        }
    }

}

/* ================= Original code ============================== */


/* Mobile Styles */
@media only screen and (max-width: 600px) {
    .home {
        padding: 32px 16px; 
        background-color: #1F2163;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .banner_div {
        height: auto; 
        width: 100%; 
        color: #E9e9e9;
        padding: 0 16px; 
        text-align: center;
    }

    .banner_div h1 {
        font-size: 28px;
        margin-top: 16px; 
    }

    .banner_div span {
       
        color: #1AB69D;
    }

    .banner_div ul {
        list-style-type: none;
        padding-left: 0;
    }

    .banner_div li {
        margin-bottom: 12px; 
    }

    .check {
        font-size: 20px; 
        padding: 5px;
    }

    .check:hover {
        color: #1AB69D;
    }

    .banner_div a {
        display: block; 
        margin-top: 16px; 
        background-color: #1AB69D;
        padding: 12px;
        text-decoration: none;
        color: #FFFFFF;
        border-radius: 5px;
    }

    .banner_div a:hover {
        background-color: #CC3366;
    }

   

    .rated_div {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    .grid-item{
        margin: 10px 0px;
    }
    .banner-img{
        width: 360px;
        padding-top: 10px;
    }
    .course_container{
        width: 340px!important;
        margin-left: 30px!important;
    }
    
    .company_tie_up_in {
        padding: 10px 10px 30px 10px!important;

    }
    .Why_to_enroll {
        flex-direction: column;
        align-items: center;
    }

    .Why_to_enroll .why_to_enroll_heading {
        width: 90%; 
        height: auto; 
        padding: 20px; 
    }

    .Why_to_enroll .why_to_entroll_details {
        width: 90%; 
        margin: 20px 0; 
    }

    .Our_training_center {
        padding: 40px 20px; 
    
        .center_details {
            width: 100%; 
            max-width: 400px; 
            padding: 10px; 
            margin: 10px auto; 
        }
    
        .div_container_training_center {
            grid-template-columns: 1fr; 
        }
        
    }


    .still_douts{
        width: 400px;
        height: 400px;
    }
    .our_collaborations{
        padding: 100px 0px!important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   
    .home {
        padding: 70px 20px 50px; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
       
    }

    .banner_div {
        width: 90%;
        max-width: 800px; 
        padding: 0 20px; 
        height: auto; 

        .check {
            font-size: 30px;
        }
        font-size: 60px;
        li{
            font-size: 20px;
        }
        p{
            font-size: 19px;
        }
    }
    .rated_div {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    .grid-item{
        margin: 10px 0px;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .certification_program {
        margin-top: 50px; 
        padding: 30px; 

        h1 {
            font-size: 28px;
            
        }

        .custom-icon {
            font-size: 36px; 
            padding: 8px; 
        }
    }

    .change_color {
        color: #1AB69D; 
    }

    .course_details_container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
        gap: 20px; 
        padding: 20px; 
        .special_course_details {
            grid-column: span 1;
        }
    }
}





