.collapsed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .expanded {
    max-height: 500px; 
    overflow: hidden;
    transition: max-height 0.5s ease-in;
  }

.drop-down-container{
  
  width:1100px;
  padding:100px 40px;
  .inner-div-drop-down{
    padding:10px 20px;
    h3{
      text-align: left;
      display: flex; 
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-weight: 400;
      font-size: 20px;
      color:#1AB69D;
    }
    p{
      text-align: left;
      line-height: 1.5;
      padding-top: 10px;
     padding-left: 20px;
      color: rgb(121, 119, 119);
    }
    .toggle-element{
     font-size: 30px;
     color:#1AB69D;
    }
  }
}

  