.inter_container{
   /* margin-top: 100px; */
}

.inter_inner_div {
    padding:30px 0px ;
    background-color: rgba(253, 253, 253, 0.5);
    background-image: url("/image1.jpg");
    background-repeat: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -400px 0px;
    overflow: hidden;
    border-bottom-left-radius: 28%; /*Create the semicircle shape*/
    border-bottom-right-radius: 28%; 
    .home-intern{
        padding:0 150px;
        font-size: 18px;
    }
    line-height: 1.5;
    .intern-home-1{
       
        
       margin:100px 150px;
       padding:30px;
      
       width:500px;
       h4{
        font-size: 30px;
       }
       li{
        margin-left:50px;
        list-style: none;
       }
       .internship_rating{
        padding-right: 30px 20px;
       }
       .explore-button{
        width:140px;
        height:40px;
        padding:20px;
        background-color:#1AB69D;
        color:white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 10px;
       }
       .explore-button:hover{
        background-color: #EE4a62;
       }

    }
}
.services_provided1{
    height: 220px;
    background-color: #fff;
    width: 1000px;
    padding:50px 20px;
    box-shadow: 0 0 50px white;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); 
    gap: 5px;
    border-radius: 20px;
    
    .each_service_intern{
        display: flex;
        justify-content: center;
        align-items: center;
        width:303px;
        height:64px;
        img{
            margin-top: 50px;
            height: 64px;
            width: 64px;
        }
        h4{
            color:#EE4a62;
        }
        p{
            font-size: 14px;
        }
        .services_text{
            margin-top: 50px;
        }
    }
    
}

.intern-home3{
    position: relative;
    display: flex;
    flex-direction: column;

}

.intern-home-form{
    order: 1;
    position: sticky;
   
    margin-top: 100px;
    display: flex;
    flex: 1;
    overflow-y: auto;
    justify-content: space-around;

    .intern_from{
        width:450px;
        flex: 0 0 auto;
        
    }
   .inside_syllabus_container{
    padding-top: 50px;
   }
}

.syllabus-button-container{
    display: flex;
    justify-content: flex-end;           /*  Align items from right to left*/
    align-items: center;
    button{
        height: 50px;
        width:150px;
        margin-left:10px;
        font-weight: bold;
        background-color: transparent;
        color:grey;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: gray;
        font-size: 16px;
        transition: color 0.3s, border-color 0.3s, backdrop-filter 0.3s;
    }
    button:hover{
    
       color:#EE4a62;
       border-color:#df1432;
    }
    button:active{
        color:#EE4a62;
      border-color: #1AB69D;
    }
   
}

/* ===================================== */

  .two-column-container {
    display: flex; 
    flex-wrap: wrap;
    margin: 100px 50px 50px 50px;
  }
  
  .left-column {
    flex: 1; 
    width: 100%;
  }
  
  .right-column {
    flex: 1; 
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .two-column-container {
      flex-direction: column; 
      margin: 50px 0px 0px 0px;
    }
  
    .left-column,
    .right-column {
      flex: 1;
      margin: 50px 50px 100px 10px;
    }
  }
  /* =================original=================================== */

  
/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .inter_inner_div {
        .home-intern {
            padding: 0 100px;
        }

        .intern-home-1 {
            margin: 50px 100px;
            width: 100%;

            h4 {
                font-size: 24px;
            }

            li {
                margin-left: 30px;
            }

            .explore-button {
                width: 120px;
                height: 35px;
                padding: 10px;
            }
        }
       
    }

    .services_provided1 {
        width: 100%;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 768px) {
    .inter_inner_div {
        .home-intern {
            padding: 0 50px;
        }

        .intern-home-1 {
            margin: 20px 20px;
            width: 70%;

            h4 {
                font-size: 20px;
            }

            li {
                margin-left: 20px;
            }

            .explore-button {
                width: 100px;
                height: 30px;
                padding: 10px;
            }

        }
    }

    .services_provided1 {
        width: 100%;
        grid-template-columns: 1fr;
        height: 400px;
    }
    form{
      width: 90%;
    }
    .inside_syllabus_container{
      /* padding: 100px; */
      /* margin: 100px; */
      width: 50px;
    }
    .syll{
      width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .inter_inner_div {
        .home-intern {
            padding: 0 20px;
        }
        .form{
          width: 90%;
        }

        .intern-home-1 {
            margin: 10px 20px;
            width: 100%;

            h4 {
                font-size: 18px;
            }

            li {
                margin-left: 10px;
            }

            .explore-button {
                width: 80px;
                height: 25px;
                padding: 5px;
            }
           
        }
        
    }

    .services_provided1 {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 20px 10px;
        height: 560px;

        .each_service_intern {
            /* width: 100%; */
            height: auto;
        }
    }
}
