.Navbar {
  padding: 16px 70px;
  position: sticky; /* Changed from fixed to sticky */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays on top of other content */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 64px;
  width: 210px;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-close {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.Home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  font-family: inherit;
  margin: 0;
  padding: 6px 6px;
  background-color: white;
  cursor: pointer;
  padding: 0px 43px 0px 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 301px;
  z-index: 1;
}

.dropdown-content .option {
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.dropdown-content .side-listings {
  position: absolute;
  margin-top: -43.5px;
  right: -220px;
  width: 220px;
  background-color: #f9f9f9;
  display: none;
  color: black;
}

.dropdown-content .side-listings ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    /* text-decoration: none; */

    
}
.drop{
  text-decoration: none;
  color: black;
}
.dropdown-content .side-listings ul li {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.option:hover+.side-listings,
.side-listings:hover {
  display: block;
}

.down_triangle {
  font-size: 0.7rem;
  color: gray;
}

@media (max-width: 1390px) {
  .dropbtn {
    font-size: 18px;
    padding: 5px 5px;
    padding: 0px 43px 0px 0px;
  }
}

@media (max-width: 820px) {
  .Navbar {
    padding: 16px;
    padding-right: 50px;
  
   
  }

  .dropbtn {
    font-size: 20px;
    padding: 10px 10px;
  }

  .menu-toggle {
    display: block;
    /* padding-right: 90px; */
  }

  .Home {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px;
  }

  .Home.open {
    display: flex;
    padding-right: 20px;
  }

  .menu-close {
    display: block;
    padding-right: 30px;
  }

  .dropdown-content {
    position: static;
    min-width: 100%;
  }

  .dropdown-content .side-listings {
    position: static;
    margin-top: 0;
    right: 0;
    width: 100%;
  }
}
